:root {
  --main-color: #e9e9ed;
  --accent-color: #8dd2fa;
}

*,
::before,
::after {
  box-sizing: border-box;
}

main {
  max-width: 1400px;
  margin: auto;
}

button:active {
  background-color: var(--accent-color);
}

.allBtns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2%;
}

.button-container {
  flex: auto;
}

.button-container button {
  justify-content: center;
}

.selected {
  border-style: solid;
  border-color: blue;
  border-radius: 5px;
}

.includedBiome {
  background-color: lightblue;
}

.counterInput {
  display: flex;
  justify-content: space-around;
  gap: 2%;
}

.counterInput > * {
  flex: auto;
}

.counterInput > button {
  height: 50px;
}

.generateBtn {
  display: flex;
  height: 50px;
  margin: 20px 0;
}

.generateBtn button {
  flex: auto;
  height: 100%;
}

.overlay {
  width: 100%;
  max-width: 500px;
  overflow: scroll;
  padding: 0;
  height: 100%;
}

.overlay::backdrop {
  backdrop-filter: blur(5px);
}

.closeBtnWrapper {
  position: sticky;
  top: 0;
  z-index: 200;
  height: 50px;
}

.overlayCloseBtn {
  width: 100%;
  height: 100%;
}

.overlay > details {
  position: relative;
  top: 30px;
  padding: 0 5px;
}

.biomeTitle {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.habitatContainer {
  display: flex;
  flex-direction: column;
}

.pokemonRow td {
  text-align: center;
}

.pokemonMoves > ul {
  margin: 0;
  padding-right: 40px;
  padding-bottom: 5px;
  background-color: var(--main-color);
}

.pokemonMoves > summary {
  background-color: var(--main-color);
  padding: 10px 0 10px 5px;
  border-radius: 5px;
  border-style: ;
  cursor: pointer;
}

.pokemonMoves[open] > summary {
  border-radius: 5px 5px 0 0;
  background-color: var(--accent-color);
}

.types {
  display: flex;
  flex-direction: column;
}

.powerMoveWrapper {
  display: flex;
  justify-content: space-between;
}
