*,
::before,
::after {
  box-sizing: border-box;
}

.allBtns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2%;
}

.button-container {
  flex: auto;
}

.button-container button {
  justify-content: center;
}

.selected {
  border-style: solid;
  border-color: blue;
  border-radius: 5px;
}

.includedBiome {
  background-color: lightblue;
}

.counterInput {
  display: flex;
  justify-content: space-around;
  gap: 2%;
}

.counterInput > * {
  flex: auto;
}

.generateBtn {
  display: flex;
  padding-top: 20px;
}

.generateBtn button {
  flex: auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.closeBtnWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}

.overlayCloseBtn {
  width: 100%;
}

.biomeTitle {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.pokemonMoves {
  cursor: pointer;
}
